*{
	padding: 0;
	margin: 0;
	text-decoration: none;
}
body{
	background: #12171c;
}
.clear{
	clear: both;
}
.logo{
	float: left;
	margin:0px 50px;
	height: 70px;
}
.menu{
	background-color:rgba(18,12,28,0.5);
	height: 70px;
	width: 100%;
}
/*一级导航栏*/
.itemOne{
	float: left;
	width: 120px;
	margin: 0;
	padding: 0;
}
.itemOne h3 a{
	text-decoration: none;
	width: 150px;
	line-height: 50px;
	position: relative;
	display: block;
	padding: 10px 0px;
	text-align: center;
	font-size: 16px;
	color: #b9baba;
	text-transform: uppercase;
	text-decoration: none;
	transition:.5s;
}

.itemOne h3 a:after{
	border-radius:10px;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left:15%;
	width: 70%;
	height: 4px;
	background: #ffce1f;
	transform: scaleX(0);
	z-index: 1;
	transform-origin: left;
	transition: .5s;
}
.itemOne h3 a:hover:after{
	transform: scaleX(1);
	transform-origin: left;
}
#this h3 a:after{
	border-radius:10px;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 15%;
	width: 70%;
	height: 4px;
	background: #ffce1f;
	transform: scaleX(1);
	z-index: 1;
	transform-origin: left;
	transition: .5s;
}
.itemOne h3 a:hover{
	color: #fff;
}
/*二级导航栏*/
.itemTwo{
	float: left;
	margin-top: 1px;
	border-radius:10px;
	background-color:rgba(18,12,28,0.9);
	
	margin-left: -25px;
	text-align: center;
	position: absolute;
	z-index: 1000;
	width: 200px;
	height: 0px;
	overflow: hidden;
	transition-property: height;
	transition-duration: .3s;
}
.itemTwo ul{
	list-style:none;
}
.itemTwo ul li a{
	margin-top:5px;
	font-size: 15px;
	display: block;
	text-decoration: none;
	width: 100%;
	height: 30px;
	color: #b9baba;
}
.itemOne:hover .itemTwo{
	height: 70px;
}
.itemTwo ul li a:hover{
	color: #b78c25;
}
.itemTwo ul li a:after{
	border-radius:10px;
	content: '';
	position: absolute;
	left: 0;
	margin-left: 60px;
	margin-top:20px;
	width: 80px;
	height: 4px;
	background: #ffce1f;
	transform: scaleX(0);
	z-index: 1;
	transform-origin: center;
	transition: .3s;
}
.itemTwo ul li a:hover:after{
	transform: scaleX(1);
	transform-origin: center;
}

.search-box {
	overflow: hidden;
    position: absolute;
        top: 4%;
        left: 50%;	
        transform: translate(-50%, -50%);
        background: #12171c;
        height: 40px;
        border-radius: 40px;
        padding: 5px;
}
.search-box img{
	width: 30px;
	height: 30px;
}
.search-btn {
        color: #e84118;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #12171c;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        text-decoration: none;
}
.search-txt {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0;
}
.search-box:hover .search-txt {
        width: 240px;
        padding: 0 6px;
}
.search-box:hover .search-btn {
        background: white;
}
.user-box {
	z-index: 1000;
	position: absolute;
	top: 0.5%;
	transition: 0.4s;
	right: 2%;
	transform: translate(0%, 0%);
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}
.user-btn {
	color: #e84118;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #12171c;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	text-decoration: none;
}
.user-txt {
	border: none;
	background: none;
	margin: 5px;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.2s;
	line-height: 40px;
	width: 0;
}
.user-box2 {
	border-radius: 40px;
	background: #2f3640;
	transition: 0.4s;
}

.user-box:hover {
	background: #12171c;
	height: 200px;
}

.user-box:hover .user-txt {
	width: 240px;
	padding: 0 6px;
}

.user-box:hover .user-btn {
	background: white;
}

.user-box h3 {
	float: left;
	color: #fff;
	margin: 6px auto;
	text-align: center;
}

.user-box:hover .button2 {
	width: 150px;
	height: 40px;
}

.user-box:hover .BUTTON2 {
	width: 170px;
	height: 50px;
}

.user-box img {
	width: 30px;
	height: 30px;
}

.BUTTON2 {
	transition: 0.4s;
	overflow: hidden;
	margin: 5px auto;
	width: 0px;
	height: 0px;

}
.button2{
  transition: 0.4s;
  border-radius:30px;
  font-size: 5px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  border: 1px solid #ffce1f;
  width: 0px;
  height: 0px;
  background:#12171c;
}
.main{
	line-height: 50px;
	text-align: center;
	width: 1000px;
	font-size: 20px;
	margin: 10px auto;
	color: #fff;
}
.main img{
	margin-bottom: -30px;
	margin-top: 20px;
}

.yxxz {
	width: 200px;
	float: right;
}
.yxxz a {
	/* 相对定位 */
	position: relative;
	/* 将a这个行内元素转为块级元素不然无法设置宽和高 */
	display: block;
	width: 140px;
	height: 60px;
	/* 行高 */
	line-height: 60px;
	text-align: center;
	margin: 40px;
	color: aqua;
	font-size: 20px;
	/* 取消下划线 */
	text-decoration: none;
	/* 加一下一些过渡事件 */
	transition: all 0.3s ease-in-out;
	float: right;
	/* hue-rotate是颜色滤镜 可以加不同的度数来改变颜色
  这里我们用了calc自动计算的方法,还有var函数来调用我们给每一个a设置的不同的属性值1~5,然后分别乘以60度,就能够分别得到不同的度数 */
	filter: hue-rotate(calc(var(--i) * 60deg));
}
.yxxz a::before,
.yxxz a::after {
	/* 将两个伪元素的相同部分写在一起 */
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border: 2px solid aqua;
	/* 最后的.3s是延迟时间 */
	transition: all 0.3s ease-in-out 0.3s;
}
.yxxz a::before {
	top: 0;
	left: 0;
	/* 删除左边的伪元素的右和下边框 */
	border-right: 0;
	border-bottom: 0;
}
.yxxz a::after {
	right: 0;
	bottom: 0;
	/* 删除右边的伪元素的上边和左边的边框 */
	border-top: 0;
	border-left: 0;
}
.yxxz a:hover {
	background-color: aqua;
	color: #000;
	/* 加个发光效果和下面的倒影 */
	/* 模糊度加到了50px */
	box-shadow: 0 0 50px aqua;
	/* below 是下倒影 1px是倒影的元素相隔的距离 最后是个渐变的颜色 */
	-webkit-box-reflect: below 1px
		linear-gradient(transparent, rgba(0, 0, 0, 0.3));
	/* 设置一下以上属性的延迟时间 */
	transition-delay: 0.4s;
}
/* 在设置两条线的变化 总体来说四条各个方向的 只需要改变一下两个伪元素的宽度和高度 */
.yxxz a:hover::before,
.yxxz a:hover::after {
	width: 138px;
	height: 58px;
	transition-delay: 0s;
}
.footer{
	margin: 30px auto;
	width: 1000px;
}
.footer_logo{
	text-align: center;
	width: 100%;
	margin: 0px auto;
}
.footer img{
	height: 100px;
	margin: 0px auto;
}
.footer a{
	color: #fff;
}
.FootText{
	width: 550px;
	margin: 0px auto;
}
.foottext1{
	font-size: 15px;
	color: #b9baba;
	float: left;
}
.foottext1 a{
	color: #b9baba;
	float: left;
	margin-left:5px;
	margin-right:5px;
	font-size: 15px;
}
.foottext2{
	font-size: 15px;
	text-align: center;
	color: #b9baba;
	margin: 10px auto;
}